# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Android
android/local.properties
android/.gradle
android/app/build
android/key.properties
*.keystore
**/*.jks

# General/Mac
.DS_Store
._*
.env
.env.local
.env.*.local
*.log
node_modules/
convex/_generated/

# IDEs
.idea/
.vscode/
*.iml
